<!--<div class="home-layout-wrap">-->
<!--  <app-header [sidebarWidth]="sidebarWidth" [isSidebarExpanded]="isSidebarExpanded" (sidebarToggle)="onSidebarToggle($event)"></app-header>-->

<!--  <mat-sidenav-container class="sidenav-container" autosize>-->
<!--    <app-sidebar></app-sidebar>-->
<!--    <mat-sidenav #sidenav class="app-sidenav box-toggle" [ngStyle]="{'width': !isSidebarExpanded ? undefined : sidebarWidth + 'px'}" mode="side" opened="true" (mouseenter)="onMouseenter()" (mouseleave)="onMouseleave()">-->
<!--      <app-sidebar [isExpanded]="isSidebarExpanded" [isShowing]="isSidebarShowing" (menuClick)="onSidebarClick($event)"></app-sidebar>-->
<!--    </mat-sidenav>-->

<!--    <mat-sidenav-content class="app-sidenav-content box-toggle">-->
<!--      <div class="main_content">-->
<!--        <div class="page-wrapper">-->
<!--          <div class="container-fluid">-->
<!--            <router-outlet></router-outlet>-->
<!--          </div>-->
<!--          <app-footer></app-footer>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</div>-->
