
$border-color: #aaa;
$main-color: #CDA566;
$main-color-dark: #004b8d;
$active-color: #1565c0;
$disable-color: #BABABA;
$table-background: #f8f8f8;
$dashboard-background: #F2F3F8;
$header-height: 65px;
$base-size: 14px;

$danger-color: #D11212;
$notice-color: #5C5C5C;
$gray-color: #BABABA;
$header-weight: 700;
$header-text: 2.4rem;
$medium-text: 3.2rem;
$common-text: 2rem;
$line-height-header: 2.8rem;

$heading1: 3.2rem;
$heading2: 2.4rem;
$heading3: 2rem;
$heading4: 1.8rem;


$kiosk-scrollbar-size: 14px;
$kiosk-scrollbar-border-radius: 6px;
$kiosk-scrollbar-border-color: #BABABA;
$kiosk-scrollbar-track-bg: #D6E6F4;
$kiosk-scrollbar-thumb-bg: rgb(36, 84, 157);
$kiosk-scrollbar-btn-h: 18px;
$kiosk-scrollbar-btn-w: 10px;

// icon base64
$caret-group: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAPCAYAAADd/14OAAAAAXNSR0IArs4c6QAAAJlJREFUKFOF0TESQTEQBuDvtS6Amt4FKFRK4yhupaFXKaiNAxiVGU6gZWJe3kSIl3L3m83+SeX7DPDEJW1VmRtjW9dmOMR+CiPq1M0HGhxhjuKgBgdYQh84wDu6P0KlpWuAS8xb4DpPXfQBbrBombgK8IRRCzwG2MMewwI+YxJ3LOE3Ci+Thslxg8JNeeo+dvUKU9x+/fXfPC/amR0ob0b+zwAAAABJRU5ErkJggg==';

$caret-up: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAGJJREFUKFPF0MENQEAQBdC37dCCgypUoDJHTZA4KYBinGQTK0iEi5jrvMyf/ODlhJfO9zBDgwU15vTaMTqiFvm2nFAlnOAVpUM7jvAOnXCEA4qHmsYIO5QPsP++x9sPfoxeAeUuDsLnYJoxAAAAAElFTkSuQmCC';

$caret-down: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAAXNSR0IArs4c6QAAAF9JREFUKFPV0csNQFAQBdDz2qEFC1WoQGWWmiCxUgDFWMlIiEhe2Jr1yXzuJB8rfXT+AgfUL0eNccyE6gXOAQv0KDN4QXPGk8MHwnrP8YkvFJOegQfusKGNTuc6f/jMDnbnDsKj11kCAAAAAElFTkSuQmCC';
